html 
    color rgb(104,142,165)
    background-color: #EEE
    font-family: Lora

#banner
    margin-top: 40px;
    font-size: 40px;
    margin-left: 10px;
    
#instructions
    margin-top: 40px;
    font-size: 20px;
    margin-left: 10px;

.instruction
    margin-bottom: 20px;